@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");

.app {
  background-color: #f6f6f6;
  height: 100vh;
}

.navbarr {
  background-color: #f2f2f2;
}

.journal_card_text_color {
  color: "#1E5542";
}

.journal_card_border {
  border-radius: 16px;
}

.nav_active {
  color: "#F4A417";
}

.bg_gray {
  background-color: #e9edea;
}

.accordian_text_color {
  color: #1a3a5f;
  font-weight: bold;
}

.accordian_title_color {
  color: #90a3a7;
}
